# Dependencies
node_modules/
**/node_modules/

# Environment variables & secrets
.env
.env.*
!.env.example

# Logs
*.log
backend_err.log
backend_out.log
frontend_out.log

# Build outputs
/frontend/build/
.DS_Store
